<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
		<%= @post.errors.full_messages %><br />
	<% end %>
  	<tr><%= f.label :title %></tr>
  	<tr><%= f.text_field :title %></tr>

  	<tr><%= f.label :body %></tr>
  	<tr><%= f.text_area :body %></tr>

  <div class="actions">
  	<%= f.submit %>
  </div>

<% end %>